$primary: #53387f;
$primary-darken: #482f71;
$primary-hover: rgb(83 40 127 / 90%);
$lilak: #9682a9;
$light-gray: #ccc;
$super-light-gray: #fcfcfc;
$white: #fff;
$background-color: #fcf9ff;
$text: #373536;
$dark-grey: #303030;
$extra-dark: #101010;
$subtext: #666;

$success: #8aba00;
$error: red;

$block-purple: #c9caef;
$block-pink: #fac1d9;
$block-yellow: #faedc1;
$block-green: #c9fac1;

$modal-background: rgb(0 0 0 / 10%);
$modal: rgb(255 255 255 / 100%);
$pink: #e2beff;
$grey: #e8e8e8;
